<div class="container">

  <h1>Update your settings</h1>

  <%= bootstrap_form_for(resource, :as => resource_name, :url => registration_path(resource_name), help: :block, style: :horizontal, left: "col-sm-2", right: "col-sm-6") do |f| %>
      <%= render 'shared/error_messages', record: @user %>

      <% if @user.provider %>
          <p>You are currently signed in using <%= @user.provider.capitalize %>.</p>
      <% end %>

      <% if !@user.provider %>
          <%= f.email_field :email, :autofocus => true %>
      <% end %>

      <%= f.text_field :name, label: 'Username', help: "This is how you will appear to others on the site." %>

      <% if !@user.provider %>
          <%= f.password_field :password, help: "Leave blank to keep your current password" %>
          <%= f.password_field :password_confirmation %>
          <%= f.password_field :current_password, help: "If you're changing your password please confirm your current password" %>
      <% end %>

      <%= f.form_group do %>
          <%= button_tag "Update account", :name => nil, class: 'btn btn-primary btn-lg' %>
      <% end %>
  <% end %>

  <h3>Cancel my account</h3>

  <p>We'll be sorry to see you go. If you cancel your account all of your reviews will be
    deleted. <%= button_to "Cancel my account", registration_path(resource_name), :data => {:confirm => "Are you sure?"}, :method => :delete %></p>

</div>