<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= page_title(yield(:title)) %></title>
  <meta name="description" content="Rails Bootstrap">
  <%= stylesheet_link_tag "application", media: "all",
                          "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=AIzaSyBMTfCaWUIjhrL59z1kL3_sItMtxnl7g5Q&sensor=false&libraries=places" %>
  <%= yield(:head) %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
<div class="container">
  <%= render 'layouts/navigation' %>
  <%= render 'layouts/messages' %>

  <%= yield %>

  <%= render 'layouts/footer' %>
</div>
</body>
</html>