<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rails Bootstrap</title>
  <meta name="description" content="Rails Bootstrap">
  <%= stylesheet_link_tag "application", media: "all",
                          "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
<div class="navbar navbar-inverse  navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">RatedRentals</a>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>

    </div><!--/.navbar-collapse -->
  </div>
</div>




<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Rated Rentals</h1>
    <p>Real reviews of rental properties &ndash; search by address or landlord</p>
    <!--<p>Real feedback for rental properties &ndash; see what others are saying before you take the plunge.</p>-->
    <p><input type="text"  /> <a class="btn btn-primary btn-lg">Search</a></p>
  </div>
</div>

<div class="container">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-6">
      <h2>Tenants</h2>
      <p>Help out others by sharing your experiences.</p>
      <p><a class="btn btn-primary" href="#">Add A Review &raquo;</a></p>
    </div>
    <div class="col-md-6">
      <h2>Landlords</h2>
      <p>Promote your rental properties and see what others are saying about them.</p>
      <p><a class="btn btn-primary" href="#">More Details &raquo;</a></p>
    </div>
  </div>



  <%= render 'layouts/navigation' %>
  <%= render 'layouts/messages' %>

  <%= session["devise.facebook_data"] %>

  <%= yield %>

  <hr>

  <footer>
    <p>&copy; RatedRentals 2013</p>
  </footer>
</div>
</body>
</html>