<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Rails Bootstrap</title>
  <meta name="description" content="Rails Bootstrap">
  <%= stylesheet_link_tag "application", media: "all",
                          "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "http://maps.googleapis.com/maps/api/js?libraries=places&sensor=true" %>

  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body onload="initialize()">
<%= render 'layouts/navigation' %>
<%= render 'layouts/messages' %>

<%= yield %>

<div id="address">

</div>

<%= render 'layouts/footer' %>
<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
</body>
</html>